{% extends 'base.html.twig' %}

{% block title %}Modifier la fiche animal{% endblock %}

{% block body %}
<div class="container w-50 mx-auto">
    <h1>Edition la fiche animal
        <a class="btn btn-return float-end" href="{{ path('app_animal_index') }}">Retour à la liste</a>
    </h1>

    {{ include('back/animal/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    {{ include('back/animal/_delete_form.html.twig') }}

</div>
{% endblock %}
