{% extends 'base.html.twig' %}

{% block title %}Modifier la fiche animal{% endblock %}

{% block body %}
<div class="container">
    <h1>Edition la fiche animal</h1>

    {{ include('back/animal/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary float-end" href="{{ path('app_animal_index') }}">Retour à la liste des animaux</a>

    {{ include('back/animal/_delete_form.html.twig') }}

</div>
{% endblock %}
