.ajouter {
  float: right;
  font-weight: bold;
}

.img_backoffice_index {
    width: 75px;
    height: 75px;
    border-radius: 1em;
}

.img_backoffice_show {
    width: 400px;
    border-radius: 1em;
}

.container {
    padding-top: 110px;
}

/* Section Navbar */

.navbar {
    position: fixed;
    z-index: 999;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:1rem;
    width: 100vw;
    min-height: 75px;
    background-color:  #735F6E;
    color: #FFF;
    box-shadow: 0px 1px 10px #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  border-bottom-left-radius: 5px;
  }

  .navbar ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo__link {
    height: 50px;
  }
  
  .navbar__title {
    position: absolute;
    left: 100px;
    display: none;
  }
  
  .navbar__logo {
    height: 50px;
  }
  .navbar__links { width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;   
  }
  .navbar__link {
    text-decoration: none;
    color: #FFF;
    font-family: 'Arima Madurai', 'Roboto';
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .navbar__link:hover {
    color: #F2B33D;
  }
  .navbar li {
    list-style-type: none;
  }
  .navbar__burger {
    width:40px;
    height:40px;
    background: transparent;
    border: none;
    color:inherit;  
  }
  
  @media screen and (max-width:767px) {
    .navbar__links {
      flex-direction: column;
      justify-content: center;
      position: fixed;    
      right: -100vw;   
      bottom:0; 
      width: 0;
      height: 100vh;
      padding: 2rem;
      background:  #735F6E;
      visibility: hidden;
      transition: all .8s ease-out;    
    }
  
    .navbar__title {
      display: block;
    }
    
    .show-nav .navbar__links {    
      right: 0;
      /*top:75px;*/
      width: 100vw;
      visibility: visible;   
    }  
    
    /* bonus */
    .navbar__item::after {
      content: "";
      display: block;
      margin: 0 auto 0 auto;
      width: 3vw;
      height: 1px;
      background: #FFF;
    }
    .navbar__item:last-child::after {
      display: none;
    }
    
    .navbar__link {
      display: block;
      padding: 1.5rem;
      font-size: 5vw;
      text-align: center;    
    }
    
    /* toggle menu */
    .show-nav .navbar__burger {
      position: fixed;
      top:1rem;
      right:1rem;
    }
    .navbar__burger:hover {
      cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: #FFF;
      transition: all .5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after {
      content: "";  
      position: absolute;
      left: 0;
    }
    .burger-bar::before {
      transform: translateY(-12px)
    }
    .burger-bar::after {
      transform: translateY(12px)
    }
    /* burger button animation */
    .show-nav .burger-bar {  
      width:0;
      background: transparent;
    }
    .show-nav .burger-bar::before {
      transform: rotate(45deg);
    }
    .show-nav .burger-bar::after {
      transform: rotate(-45deg);
    }
  
    /* Bonus - Animations */
    .navbar__item {
      transform: translateY(100vh); 
    }
    .show-nav .navbar__item {
      transform: translateY(0);    
    }
    .show-nav .slideInDown-1 {
      transition: all 1s ease-out;
    }
    .show-nav .slideInDown-2 {
      transition: all 1.1s ease-out;
    }
    .show-nav .slideInDown-3 {
      transition: all 1.2s ease-out;
    }
    .show-nav .slideInDown-4 {
      transition: all 1.3s ease-out;
    }
    .show-nav .slideInDown-5 {
      transition: all 1.4s ease-out;
    }
    .show-nav .slideInDown-6 {
      transition: all 1.5s ease-out;
    }
  }
  
  body {
    background-color:rgb(241, 239, 239);
  }

  h1 {
    font-size: 2.5em;
    margin: 1rem 0 1.5rem 0;
  }

/* Buttons custom colors */

.btn-sm {
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  font-family: 'Arima Madurai', 'Roboto';
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: white;
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary:hover {
  color: white;
  background-color: #D97C0B;
  border-color: #D97C0B;
}
.btn-primary:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}

.btn-secondary {
  color: white;
  background-color: #8C7488;
  border-color: #8C7488;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: auto;
}
.btn-secondary:hover {
  color: white;
  background-color: #735F6E;
  border-color: #735F6E;
}
.btn-secondary:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-secondary:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}

.btn-return {
  color: white;
  background-color: #8C7488;
  border-color: #8C7488;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: auto;
  margin: 0.5rem 0 0.5rem 0;
}
.btn-return:hover {
  color: white;
  background-color: #735F6E;
  border-color: #735F6E;
}
.btn-return:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-return:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}

.btn-info {
  color: white;
  background-color: #8C7488;
  border-color: #8C7488;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 0.5rem;
}
.btn-info:hover {
  color: white;
  background-color: #F2B33D;
  border-color: #F2B33D;
}
.btn-info:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-info:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}


.btn-success {
  color: white;
  background-color: #D97C0B;
  border-color: #D97C0B;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-success:hover {
  color: white;
  background-color: #F2B33D;
  border-color: #F2B33D;
}
.btn-success:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-success:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}

.btn-warning {
    color: white;
    background-color: #e7a52b;
    border-color: #e7a52b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-warning:hover {
  color: white;
  background-color: #D97C0B;
  border-color: #D97C0B;
}
.btn-warning:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-warning_show {
  color: white;
  background-color: #e7a52b;
  border-color: #e7a52b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 1rem;
}
.btn-warning_show:hover {
  color: white;
  background-color: #D97C0B;
  border-color: #D97C0B;
}
.btn-warning_show:focus {
  background-color: #F2B33D;
  border-color: #F2B33D;
  box-shadow: 0 0 0 0.25rem #F2B33D;
}
.btn-warning_show:active:focus {
  box-shadow: 0 0 0 0.25rem #F2B33D;
}

.btn-danger {
  color: rgb(252, 252, 252);
  background-color: rgba(173, 57, 28, 0.952);
  border-color: rgb(173, 57, 28, 0.952);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signin {
  color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.show_buttons {
  display: flex;
}

.button-label {
  margin-right: 1rem;
}