
.img_backoffice_index {
    width: 100px;
}

.img_backoffice_show {
    width: 200px;
}

.container {
    padding-top: 90px;
}

/* Section Navbar */

.navbar {
    position: fixed;
    z-index: 999;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    width: 100vw;
    min-height: 75px;
    background-color:  #735F6E;
    color: #FFF;
    box-shadow: 0px 1px 10px #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .logo__link {
    height: 50px;
  }
  
  .navbar__title {
    position: absolute;
    left: 100px;
    display: none;
  }
  
  .navbar__logo {
    height: 50px;
  }
  .navbar__links { 
    display: flex;   
  }
  .navbar li {
    list-style-type: none;
  }
  .navbar__link {
    padding: 0 0.3rem;
    color:inherit;
    text-decoration: none;
  }
  .navbar__burger {
    width:40px;
    height:40px;
    background: transparent;
    border: none;
    color:inherit;  
  }
  
  @media screen and (max-width:767px) {
    .navbar__links {
      flex-direction: column;
      justify-content: center;
      position: fixed;    
      right: -100vw;   
      bottom:0; 
      width: 0;
      height: 100vh;
      padding: 2rem;
      background:  #735F6E;
      visibility: hidden;
      transition: all .8s ease-out;    
    }
  
    .navbar__title {
      display: block;
    }
    
    .show-nav .navbar__links {    
      right: 0;
      /*top:75px;*/
      width: 100vw;
      visibility: visible;   
    }  
    
    /* bonus */
    .navbar__item::after {
      content: "";
      display: block;
      margin: 0 auto 0 auto;
      width: 3vw;
      height: 1px;
      background: #FFF;
    }
    .navbar__item:last-child::after {
      display: none;
    }
    
    .navbar__link {
      display: block;
      padding: 1.5rem;
      font-size: 5vw;
      text-align: center;    
    }
    
    /* toggle menu */
    .show-nav .navbar__burger {
      position: fixed;
      top:1rem;
      right:1rem;
    }
    .navbar__burger:hover {
      cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: #FFF;
      transition: all .5s ease-in-out;
    }
    .burger-bar::before,
    .burger-bar::after {
      content: "";  
      position: absolute;
      left: 0;
    }
    .burger-bar::before {
      transform: translateY(-12px)
    }
    .burger-bar::after {
      transform: translateY(12px)
    }
    /* burger button animation */
    .show-nav .burger-bar {  
      width:0;
      background: transparent;
    }
    .show-nav .burger-bar::before {
      transform: rotate(45deg);
    }
    .show-nav .burger-bar::after {
      transform: rotate(-45deg);
    }
  
    /* Bonus - Animations */
    .navbar__item {
      transform: translateY(100vh); 
    }
    .show-nav .navbar__item {
      transform: translateY(0);    
    }
    .show-nav .slideInDown-1 {
      transition: all 1s ease-out;
    }
    .show-nav .slideInDown-2 {
      transition: all 1.1s ease-out;
    }
    .show-nav .slideInDown-3 {
      transition: all 1.2s ease-out;
    }
    .show-nav .slideInDown-4 {
      transition: all 1.3s ease-out;
    }
    .show-nav .slideInDown-5 {
      transition: all 1.4s ease-out;
    }
    .show-nav .slideInDown-6 {
      transition: all 1.5s ease-out;
    }
  }
  
  
  