<form method="post" action="{{ path('app_species_delete', {'id': species.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ceci?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ species.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
