{% extends 'base.html.twig' %}

{% block title %}Edit Species{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer une espèce</h1>

    {{ include('back/species/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_species_index') }}">back to list</a>

    {{ include('back/species/_delete_form.html.twig') }}
    </div>
{% endblock %}
