{% extends 'base.html.twig' %}

{% block title %}New Species{% endblock %}

{% block body %}
<div class="container w-50 mx-auto">
    <h1>Ajout d'une espèce animale</h1>

    {{ include('back/species/_form.html.twig') }}

    <a class="btn btn-primary float-end mb-3" href="{{ path('app_species_index') }}">Retour à la liste des espèces</a>
    </div>
{% endblock %}
