{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajout d'une association</h1>

    {{ include('back/association/_form.html.twig') }}

    <a href="{{ path('app_association_index') }}">Retour à la liste des associations</a>
</div>
{% endblock %}
