{% extends 'base.html.twig' %}

{% block title %}New Association{% endblock %}

{% block body %}
<div class="container w-50 mx-auto">
    <h1>Ajout d'une association</h1>

    {{ include('back/association/_form.html.twig') }}

    <a class="btn btn-secondary float-end mb-3" href="{{ path('app_association_index') }}">Retour à la liste</a>
</div>
{% endblock %}
